body{
   margin:0px;
   padding: 0px;
   font-family: 'Roboto', sans-serif;
}
.logo{
    width: 150px;
    height: 30px;
    margin-top: 20px;
}
header{
    display: flex;
    justify-content: center;
    height: 10%;
    height: 50px;   
}
.géoLocalisation{
    height: 50px;
    background-color: #eaeaea;
    box-shadow: 0 0 5px #888;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.iconGeoLocalisation{
    height: 15px; 
    margin-top: 17px;
    margin-right: 10px;
}
.découverte{
    display: flex;
    flex-direction:column;
    text-align: center;
    align-items: center;
    background-color: #f7f7f7;
    padding-bottom: 50px;
}
.p1découverte{
    font-weight: bolder;
    font-size: large;
    margin-bottom: 0px; 
    margin-top: 20px;
}
.p2découverte{
    font-weight: lighter;
    padding-left: 23px; 
}
.découverteButton{
    border-radius: 26px;
    height: 52px;
    width: 206px;
    background: linear-gradient(rgba(255,121,218) ,rgba(147,86,220) );
    padding: 0px;
    border: none;
    color:#f7f7f7;
    font-weight: bold;
    box-shadow: 5px 5px 15px 1px #888;
}
.découverteButton:hover{
    background: linear-gradient(rgba(255,121,218,0.6) ,rgba(147,86,220,0.6) );
    box-shadow: 5px 5px 25px 2px #888;
}
.Fonctionnement{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
    margin-left: 26px;
}
.fonctionnementBox{
    width: 315px;
    height: 65px;
    border-radius: 24px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 15px 1px #888;
    
}
.stepNumber{
    width: 20px;
    height: 20px;
    background-color: #9356DC;
    position: absolute;
    left: 15px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: small;
    align-items: center;
}
.fonctioBox{
    display: flex;
    align-items: center;
    font-weight: bold;
   
}
.pFonctionnement{
    font-weight: bold;
    font-size: large;
    margin-left: 26px;
    margin-bottom: 20px;
}
.p1découverte2{
    margin-top: 0px;
    font-weight: bolder;
    font-size: large;
    margin-bottom: 0px;
}
.iconPhone{
    width: 40px;
    height: 30px;
    margin-left: 15px;
    margin-right: 21px;
}
.iconMenu{
    width: 32px;
    margin-left: 19px;
    margin-right: 25px;
}
.restaurantsContainer{
    background-color: #f7f7f7;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
}
.p1restaurantsContainer{
    font-weight: bold;
    font-size: large;
    margin-left: 16px;
}
.restaurantContainer2{
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
}
.cardContainer{
    background-color: white;
    height: 220px;
    width: 320px;
    margin-left: 25px;
    margin-bottom: 10px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px 1px #888
}
.imageCard{
    height: 148px;
    border-radius: 22px 22px 0px 0px;
}
.localisationRestaurantCard{
    margin:0px;
    margin-left: 10px;
    font-weight: lighter;
}
.p1cardRestaurantName{
    margin:0px;
    margin-bottom: 5px;
    margin-top: 15px;
    margin-left: 10px;
    font-weight: bold;
}
.cardLike{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.heartIcon{
    width: 45px;
    height: 36px;
    margin-right: 15px;
    background-image: url("../images/icons/heartempty.png");
    background-size: 45px 45px;
    animation-duration: 3s;
   
}
.heartIcon:hover{
   animation-name:tofill  ;
   animation-fill-mode: forwards;
 
}
@keyframes tofill {
   0%{
       background-image: url("../images/icons/hearthalffield1.png");
    }
    25%{
        background-image: url("../images/icons/hearthalffield2.png");
    }
    50%{
        background-image: url("../images/icons/hearthalffield3.png")
    }
    75%{
        background-image: url("../images/icons/hearthalffield4.png")
    }
   100%{
        background-image: url("../images/icons/heartField.png")
   }
}
footer{
    background-color: rgba(53,53,53);
    color: #ffffff;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    margin-top: 45px;
}
.containerPartenariat{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 25px;
}
.iconFooter{
    width: 15px;
    height: 15px;
}
.pPartenaire{
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 15px;                  
}
.pProposer{
    margin-bottom: 0px;
    margin-left: 15px;
}
.pFooter{
    margin-top: 5px;
    margin-bottom: 0px;
}
.footerTitle{
    margin-bottom: 0px;
    font-family: 'Shrikhand', cursive;
    font-size: large;
}
.waitingSpinner{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation-name: waitingScreen;
    animation-duration: 0.0025s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}
@keyframes waitingScreen {
    to{
       opacity:0;
       height: 0px;  
    }   
}
.loadSpinner{
    width: 100px;
    height: 100px;
    border-radius: 100%; 
    display: flex;
    position: relative;
    background-clip: padding-box;
    background-color: whitesmoke;
}

.loadSpinner:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -10px;
    border-radius: inherit;
    background: linear-gradient(rgba(255,121,218) ,rgba(147,86,220));
    animation-name:rotateSpinner;
    animation-duration: 0.75s; 
    animation-fill-mode: forwards;
    animation-iteration-count:4;
 }

 @keyframes rotateSpinner {
      0%{
        transform: rotate(0deg);
      }
      10%{
        transform: rotate(36deg);
      }
     20%{
        transform:rotate(72deg)
      }
     30%{
        transform:rotate(108deg) ;
      }
      40%{
        transform:rotate(144deg)
      }
      50%{
        transform:rotate(180deg)
      }
      60%{
        transform:rotate(216deg)
      }
      70%{
        transform:rotate(252deg)
      }
      80%{
        transform:rotate(288deg)
      }
      90%{
        transform:rotate(324deg)
      }
      100%{
        transform:rotate(360deg)
      }
 }

 /* css responsive*/
 @media screen and (min-width: 768px) and (max-width:1024px) {
    .Fonctionnement {
        display: flex;
        height: 300px;
        justify-content: space-between;
        margin-left: 14px;
        align-items: flex-start;
        flex-direction: row;
        height: 50px;
        margin-right: 26px;
      }
    .fonctioBox {
        display: flex;
        align-items: center;
        font-weight: bold;
        width: 32%;
      }
    .stepNumber {
        width: 20px;
        height: 20px;
        background-color: #9356DC;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        color: white;
        font-size: small;
        align-items: center;
        right: 169px;
        position: relative;
        left: 9px;
      }
    .fonctionnementBox {
        height: 65px;
        border-radius: 24px;
        background-color: #f7f7f7;
        display: flex;
        align-items: center;
        box-shadow: 1px 1px 15px 1px #888;
        width: 90%;
      }
      .restaurantContainer2 {
        background-color: #f7f7f7;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 21px;
      }
      .p1restaurantsContainer{
        margin-left: 26px;
      }
      .cardContainer{
        width: 43%;
      }
    }