body{
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
}
.logo{
    width: 37%;
    height: 50%;
    margin-top: 0px;
    margin-left: 70px;
    margin-top: 20px;
    
}
header{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 15px;
}
.pEtLiseret{
    display: flex;
    flex-direction: column;
}
.liseretVert{
    width: 35px;
    height: 3px;
    background-color:#99E2D0 ;
    margin-left: 13px;
}
.arrow{
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
footer{
    background-color: rgba(53,53,53);
    color: #ffffff;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
   
}
.containerPartenariat{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 25px;
}
.iconFooter{
    width: 15px;
    height: 15px;
}
.pPartenaire{
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 15px;                  
}
.pProposer{
    margin-bottom: 0px;
    margin-left: 15px;
}
.pFooter{
    margin-top: 5px;
    margin-bottom: 0px;
    color:white;
    text-decoration:none;
}
.footerTitle{
    margin-bottom: 0px;
    font-family: 'Shrikhand', cursive;
    font-size: large;
}
.menuPicture{
    background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: cover;
    height: 200px;
    position: absolute; 
    z-index: 0; 
    width: 100%;
}
.menuContainer{
    background-color: #f7f7f7;
    margin-top: 170px;
    z-index: 1;
    border-radius: 30px 30px 0px 0px;
    padding-bottom: 40px;
}

.MC{
    display: flex;
    flex-direction: column;
}
.buttonContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.commanderButton{
    border-radius: 26px;
    height: 45px;
    width: 150px;
    background: linear-gradient(rgba(255,121,218) ,rgba(147,86,220) );
    padding: 0px;
    border: none;
    color:#f7f7f7;
    font-weight: bold;
    box-shadow: 5px 5px 15px 1px #888;
    animation-name:button ;
    animation-duration: 1s;
    animation-delay:4.5s ;
    transform: translate(-3000px,0px);
    animation-fill-mode: forwards;
}
.commanderButton:hover{
    background: linear-gradient(rgba(255,121,218,0.6) ,rgba(147,86,220,0.6) );
    box-shadow: 5px 5px 25px 2px #888;
}
@keyframes button {
    from{
        transform: translate(-300px,0px);
    }
    to{
        transform: translate(0px,0px);
    }
}
.pMenu{
    font-family:'Shrikhand', cursive;
    font-size: x-large;
}
.likecontainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.heartIcon{
    width: 45px;
    height: 36px;
    margin-right: 15px;
    background-image: url("../images/icons/heartemptyMenu.png");
    background-size: 45px 45px;
    animation-duration: 3s;
    border-radius: 0px 30px 0px 0px;
    margin-top: 20px;
   
}
.heartIcon:hover{
   animation-name:tofill  ;
   animation-fill-mode: forwards;
 
}
@keyframes tofill {
    0%{
        background-image: url("../images/icons/hearthalffield1Menu.png");
     }
     25%{
         background-image: url("../images/icons/hearthalffield2Menu.png");
     }
     50%{
         background-image: url("../images/icons/hearthalffield3Menu.png")
     }
     75%{
         background-image: url("../images/icons/hearthalffield4Menu.png")
     }
    100%{
         background-image: url("../images/icons/heartFieldMenu.png")
    }
 }
/*css pour les entrées*/
.platContainer{
    width: 350px ;
    height: 60px;
    background-color:white;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 0.5px #888;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

.platContainer2{
    width: 350px ;
    height: 60px;
    background-color:white;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    animation-name: appear;
    animation-duration: 1s;
    animation-delay:0.5s;
    opacity: 0;
    animation-fill-mode: forwards;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 0.5px #888;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.platContainer3{
    width: 350px ;
    height: 60px;
    background-color:white;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    animation-name: appear;
    animation-duration: 1s;
    animation-delay:1s;
    opacity: 0;
    animation-fill-mode: forwards;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 0.5px #888;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.platContainer4{
    width: 350px ;
    height: 60px;
    background-color:white;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    animation-name: appear;
    animation-duration: 1s;
    animation-delay:1s;
    opacity: 0;
    animation-fill-mode: forwards;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 0.5px #888;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@keyframes appear {
    from{
        opacity: 0;
      
    }
    to{
        opacity: 1;
        transform: translate(0px,-20px)
    }
}
.pPCnormalLongPlat{
    margin-bottom: 0px;
    margin-top: 3px;
    width: 100%;
   
}
.pPCnormalLongPlatSubstitus{
    text-indent: -9999px;
    height: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.platContainer3:hover .pPCnormalLongPlat{
    text-indent: -9999px;
    height: 0px;
    width: 0px;
}
.platContainer3:hover .pPCnormalLongPlatSubstitus {
    text-indent: 0px;
    height:fit-content;
    transform: translate(0px,2px);
}

.cocheMenu{
    width: 0px;
    height: 100%;
    background-color:#99E2D0 ;
    border-radius: 0px 15px 15px 0px; 
    animation-duration: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.CheckBox{
    width: 60%;
    height: 60%;
    border-radius: 100%;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation-duration: 1s;  
}
.iconCheck{
    width: 70%;
    height: 70%;
}
.platContainer:hover .cocheMenu{
    animation-name: essaie;
    animation-fill-mode: forwards;
}

.platContainer2:hover .cocheMenu{
    animation-name: essaie;
    animation-fill-mode: forwards;
}
.platContainer3:hover .cocheMenu{
    animation-name: essaie;
    animation-fill-mode: forwards;
}
.platContainer4:hover .cocheMenu{
    animation-name: essaie;
    animation-fill-mode: forwards;
}
@keyframes essaie {
    from{
        width: 0px;
    }
   to{
        width: 80px;
     }
}
.platContainer:hover .CheckBox{
    animation-name: rotate;
    animation-fill-mode: forwards;
}
.platContainer2:hover .CheckBox{
    animation-name: rotate;
    animation-fill-mode: forwards;
}
.platContainer3:hover .CheckBox{
    animation-name: rotate;
    animation-fill-mode: forwards;
}
@keyframes rotate {
     10%{
        transform: rotate(1turn);
     }
}
.pPCbold{
    margin-bottom: 0px;
    font-weight: bold;
}
.pPCnormal{
    margin-bottom: 0px;
    margin-top: 3px;
}
.pPlatContainer{
    margin-left:10px ;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 20px;
}
.PdescriptionEtPrix{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    
}
.prix{
    margin: 0px;
}
.pEntrées{
  margin-left: 13px; 
  margin-bottom: 0px; 
}
.pMenu{
    margin-left: 13px; 
}

/* css pour les plats*/

.platContainerPlat{
    width: 350px ;
    height: 60px;
    background-color:white;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    animation-name: appear;
    animation-duration: 1s;
    animation-delay:1.5s;
    animation-fill-mode: forwards;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 0.5px #888;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    opacity: 0;       
}

.platContainerPlat2{
    width: 350px ;
    height: 60px;
    background-color:white;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    animation-name: appear;
    animation-duration: 1s;
    animation-delay:2s;
    opacity: 0;
    animation-fill-mode: forwards;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 0.5px #888;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.platContainerPlat3{
    width: 350px ;
    height: 60px;
    background-color:white;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    animation-name: appear;
    animation-duration: 1s;
    animation-delay:2.50s;
    opacity: 0;
    animation-fill-mode: forwards;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 0.5px #888;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@keyframes appear {
    from{
        opacity: 0;
      
    }
    to{
        opacity: 1;
        transform: translate(0px,-20px)
    }
}
.platContainerPlat:hover .cocheMenu{
    animation-name: essaie;
    animation-fill-mode: forwards;
}
.platContainerPlat2:hover .cocheMenu{
    animation-name: essaie;
    animation-fill-mode: forwards;
}
.platContainerPlat3:hover .cocheMenu{
    animation-name: essaie;
    animation-fill-mode: forwards;
}


.platContainerPlat:hover .pPCnormalLongPlat {
    text-indent: -9999px;
    height: 0px;
    width: 0px;
}
.platContainerPlat:hover .pPCnormalLongPlatSubstitus {
    text-indent: 0px;
    height:fit-content;
    transform: translate(0px,2px);
}
.platContainerPlat2:hover .pPCnormalLongPlat {
    text-indent: -9999px;
    height: 0px;
    width: 0px;
}
.platContainerPlat2:hover .pPCnormalLongPlatSubstitus {
    text-indent: 0px;
    height:fit-content;
    transform: translate(0px,2px);
}
.platContainerPlat3:hover .pPCnormalLongPlat {
    text-indent: -9999px;
    height: 0px;
    width: 0px;
}
.platContainerPlat3:hover .pPCnormalLongPlatSubstitus {
    text-indent: 0px;
    height:fit-content;
    transform: translate(0px,2px);
}
.platContainerPlat:hover .CheckBox{
    animation-name: rotate;
    animation-fill-mode: forwards;
}
.platContainerPlat2:hover .CheckBox{
    animation-name: rotate;
    animation-fill-mode: forwards;
}
.platContainerPlat3:hover .CheckBox{
    animation-name: rotate;
    animation-fill-mode: forwards;
}



/*css dessert*/

.platContainerDessert{
    width: 350px ;
    height: 60px;
    background-color:white;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    animation-name: appear;
    animation-duration: 1s;
    animation-delay:3s;
    animation-fill-mode: forwards;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 0.5px #888;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    opacity: 0;       
}

.platContainerDessert2{
    width: 350px ;
    height: 60px;
    background-color:white;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    animation-name: appear;
    animation-duration: 1s;
    animation-delay:3.5s;
    opacity: 0;
    animation-fill-mode: forwards;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 0.5px #888;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.platContainerDessert3{
    width: 350px ;
    height: 60px;
    background-color:white;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    animation-name: appear;
    animation-duration: 1s;
    animation-delay:4s;
    opacity: 0;
    animation-fill-mode: forwards;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 0.5px #888;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@keyframes appear {
    from{
        opacity: 0;
      
    }
    to{
        opacity: 1;
        transform: translate(0px,-20px)
    }
}
.platContainerDessert:hover .cocheMenu{
    animation-name: essaie;
    animation-fill-mode: forwards;
}
.platContainerDessert2:hover .cocheMenu{
    animation-name: essaie;
    animation-fill-mode: forwards;
}
.platContainerDessert3:hover .cocheMenu{
    animation-name: essaie;
    animation-fill-mode: forwards;
}
.platContainerDessert:hover .CheckBox{
    animation-name: rotate;
    animation-fill-mode: forwards;
}
.platContainerDessert2:hover .CheckBox{
    animation-name: rotate;
    animation-fill-mode: forwards;
}
.platContainerDessert3:hover .CheckBox{
    animation-name: rotate;
    animation-fill-mode: forwards;
}

@media screen and (min-width:768px) {
    .tousLesPlats{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .pMenu{
        font-family:'Shrikhand', cursive;
        font-size: x-large;
        margin-top: 40px;
    }
    .likecontainer{
        width: 328.25px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .menuContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header{
        justify-content: center;
    }
    .logo{
        width: 300px;
        height: 51px;
    }
    .heartIcon{
        margin-top: 0px;
    }
}